spring-debug/src/main/resources/han.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns="http://www.hanrongjie1.com/schema/han"
		targetNamespace="http://www.hanrongjie1.com/schema/han"
		elementFormDefault="qualified">
	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name ="id" type = "xsd:string"/>
			<xsd:attribute name ="name" type = "xsd:string"/>
			<xsd:attribute name ="age" type = "xsd:int"/>
			<xsd:attribute name ="class" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>